// создаем переменные для scss
$black: #000;
$white: #fff;
// создаем переменные для css
:root{
    --color-white: #{$white};
    --color-black: #{$black};
    --content-width: 1200px;
    --container-padding: 15px;
    --container-width: calc(var(--content-width) + (var(--container-padding) * 2));
    --font-size: 16px;
    --font-family: 'SF UI', sans-serif;
}