.application{
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-family);
    font-weight: 400;
    &__template{
        width: 100%;
    }
}
.container{
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
    width: 100%;
    @include md{
        background-color: red;
    }
}