.footer{
    background-color: var(--color-bg-section);
    padding: 75px 0;
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        margin: 0 0 20px 0;
        font-size: 45px;
        color: var(--color-light);
    }
    &__address{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 20px
    }
    &__link{
        display: flex;
        align-items: center;
    }
    &__grid{
        display: flex;
        gap: 20px;
    }
    &__button{
        width: 300px;
        height: 75px;
        border: none;
        border-radius: 30px;
        border: 2px solid var(--color-light);
        transition: all 100ms ease-in-out;
        &:hover{
            background-color: transparent;
            color: var(--color-light);
        }
    }
}
.icon{
    font-size: 30px;
}