.food{
    margin: 0 0 150px 0;
    &__container{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        background: linear-gradient(173.34deg, #FFFFFF 0%, #FFFFFF 0%, rgba(243, 244, 245, 0.2) 11.74%);
    }
    &__image{
        position: absolute;
        left: 0;
        z-index: -1;
    }
    &__title{
        font-size: 64px;
        font-weight: 800;
        margin: 150px 0 24px 0;
    }
    &__description{
        font-size: 24px;
        font-weight: 400;
        margin: 0 0 90px 0;
        color: var(--text-color);
        @include md{
            text-align: center;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        @include md{
            grid-template-columns: 1fr;
        }
    }
}