.content{
    &__container{
        min-width: 100%;
        margin: 0;
        position: relative;
        padding: 100px;
        background-color: #1c0522;
    }
    &__title{
        font-size: 3.5em;
        margin-bottom: 10px;
        color: #fff;
    }
    &__text{
        font-size: 1em;
        color: #fff;
    }
}