.cookie{
    position: fixed;
    width: -webkit-fill-available;
    bottom: -100%;
    padding: 20px;
    background-color: var(--color-dark);
    border: 1px solid var(--color-gray);
    z-index: 9999;
    margin: 0 20px 20px 20px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: bottom 0.5s ease-in-out;
    @include lg{
        flex-direction: column;
        gap: 10px;
    }
    &--show{
        bottom: 0;
    }
    &__header{
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--color-accent);
        margin: 0 0 14px 0;
    }
    &__title{
        color: var(--color-white);
        margin: 0;
    }
    &__icon{
        font-size: 1.5em;
    }
    &__buttons{
        display: flex;
        background-color: var(--color-heading);
        padding: 14px;
        border-radius: 82px;
    }
    &__left{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__description{
        display: flex;
        flex-direction: column;
    }
    &__link{
        color: var(--color-accent);
    }
}