.feature{
    padding: 150px 0 0 0;
    &__title{
        display: flex;
        &-color{
            margin: 0;
            color: var(--color-accent)
        }
    }
    &__block{
        display: flex;
        gap: 30px;
        margin: 80px 0 0 0;
        @include lg{
            flex-direction: column;
        }
    }
    &__menu{
        padding: 50px;
        margin: 0;
        min-width: 308px;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: var(--color-heading);
        border-radius: 12px;
        @include lg{
            flex-direction: row;
            overflow-x: auto;
        }
        &::-webkit-scrollbar{
            width: 0;
        }
    }
    &__button{
        width: 100%;
        @include lg{
            width: -webkit-fill-available;
        }
    }
    &__cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        @include lg{
            grid-template-columns: 1fr;
        }
    }
    &__card{
        padding: 50px;
        background-color: var(--color-heading);
        border: 1px solid var(--color-gray);
        border-radius: 12px;
        &-header{
            display: flex;
            justify-content: space-between;
        }
        &-title{
            margin: 0 0 30px 0;
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
        }
        &-image{
            width: 34px;
            height: 34px;
        }
    }
}