.footer{
    margin: 150px 0 0 0;
    background-color: var(--color-heading);
    &__container{
        padding: 100px 162px 50px 162px;
        display: flex;
        flex-direction: column;
        @include lg{
            padding: 30px 16px!important;
        }
    }
    &__header{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 101px 0;
        &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background-color: var(--color-gray);
            bottom: -51px;
        }
    }
    &__logo{
        height: 40px;
    }
    &__list{
        margin: 0;
        padding: 0;
        display: flex;
        gap: 26px;
    }
    &__link{
        color: var(--color-text);
        font-style: normal;
        display: flex;
        align-items: center;
        gap: 6px;
        &-logo{
            position: relative;
            margin: 0 0 50px 0;
            &::before{
                display: flex;
                position: absolute;
                width: 0;
                content: "";
                height: 2px;
                background-color: var(--color-accent);
                bottom: 0;
                transition: width 0.3s ease-in-out
            }
            &:hover{
                &::before{
                    display: flex;
                    position: absolute;
                    width: 100%;
                    content: "";
                    height: 2px;
                    background-color: var(--color-accent);
                    bottom: 0;
                }
            }
            &:hover{
                opacity: 1;
            }
        }
        &-icon{
            width: 52px;
            height: 52px;
        }
        &--policy{
            position: relative;
            margin: 0 25px 0 0;
            color: #B3B3B3;
            &::after{
                position: absolute;
                content: '';
                width: 1px;
                height: 100%;
                right: -12px;
                background-color: #B3B3B3;
            }
        }
        &--terms{
            color: #B3B3B3;
        }
    }
    &__address{
        position: relative;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0 0 100px 0;
        @include lg{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background-color: var(--color-gray);
            bottom: -51px;
        }
    }
    &__privacy{
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background-color: var(--color-dark);
        border: 1px solid var(--color-gray);
        border-radius: 100px;
        align-items: center;
        position: relative;
        @include lg{
            flex-direction: column;
            gap: 20px;
            padding: 30px;
            border-radius: 12px;
        }
    }
    &__social{
        display: flex;
        gap: 14px;
        @include lg{
            position: absolute;
            top: -26px;
            justify-content: center;
            width: 100%;
            left: 0;
        }
    }
    &__rights{
        &-text{
            color: #B3B3B3;
            font-weight: 300;
            font-size: 18px;
            @include lg{
                margin-top: 26px;
            }
        }
    }
    &__policy{
        display: flex;
        color: #B3B3B3;
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        height: 27px;
    }
}