// header style
.header{
    &__container{
        position: relative;
        margin-top: 50px;
        padding: 22px 34px!important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-dark);
        border-radius: 100px;
        border: 1px solid #262626;
        @include lg{
            margin: 50px 16px 0 16px;
        }
    }
    &__close{
        display: none;
        @include lg{
            display: flex;
            position: fixed;
            right: 10px;
            top: 10px;
            width: 62px;
            height: 62px;
        }
    }
    &__list{
        margin: 0;
        padding: 0;
        display: flex;
        gap: 26px;
        @include lg{
            opacity: 0;
            top: 0;
            left: 0;
            position: fixed;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 20px;
            background-color: var(--color-dark);
            border-bottom: 1px solid var(--color-gray);
            z-index: -1;
        }
        &--active{
            opacity: 1;
            z-index: 9999;
        }
    }
    &__button{
        display: none;
        @include lg{
            display: flex;
        }
    }
    &__buttons{
        display: flex;
        @include lg{
            display: none;
        }
        &-item{
            display: none;
            @include lg{
                display: flex;
            }
        }
    }
    &__bg-image{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        user-select: none;
    }
    &__logo{
        &-container{
            position: relative;
            &::before{
                display: flex;
                position: absolute;
                width: 0;
                content: "";
                height: 2px;
                background-color: var(--color-accent);
                bottom: 0;
                transition: width 0.3s ease-in-out
            }
            &:hover{
                opacity: 1;
                &::before{
                    display: flex;
                    position: absolute;
                    width: 100%;
                    content: "";
                    height: 2px;
                    background-color: var(--color-accent);
                    bottom: 0;
            }
            }
        }
    }
}