.reviews{
    padding: 80px 0 0 0;
    &__header{
        position: relative;
        display: flex;
        justify-content: space-between;
        @include lg{
            flex-direction: column;
            align-items: center;
        }
    }
    &__title{
        display: flex;
        &--color{
            margin: 0;
            color: var(--color-accent);
        }
    }
    &__description{
        max-width: 910px;
    }
    &__buttons{
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        padding: 14px;
        height: 84px;
        border-radius: 82px;
        background-color: var(--color-heading);
        @include lg{
            margin-top: 14px;
            position: relative;
        }
    }
    &__grid{
        position: relative;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 80px;
        @include lg{
            grid-template-columns: 1fr;
        }
        &::before{
            position: absolute;
            content: '';
            width: 20%;
            height: 100%;
            right: 0;
            top: 0;
            background: linear-gradient(270deg, #191919 10.8%, rgba(25, 25, 25, 0) 105.84%);
        }
        &::after{
            position: absolute;
            content: '';
            width: 20%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(270deg, rgba(25, 25, 25, 0) 0%, #191919 105.84%);
            
        }
        &-icon{
            position: relative;
            width: 60px;
            height: 60px;
            margin: 0 0 50px 0;
            &::before{
                position: absolute;
                width: 152px;
                height: 1px;
                top: 50%;
                left: -172px;
                content: '';
                background-color: var(--color-gray);
            }
            &::after{
                position: absolute;
                width: 152px;
                height: 1px;
                top: 50%;
                right: -172px;
                background-color: var(--color-gray);
                content: '';
            }
        }
        &-text{
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: center;
            margin: 0 0 50px 0;
        }
        &-username{
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            text-align: center;
            color: var(--color-accent);
        }
    }
    &__coments{
        margin-top: 100px;
        display: flex;
        align-items: center;
        gap: 50px;
        @include lg{
            flex-direction: column;
        }
    }
    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include lg{
            &--active{
                position: relative;
                opacity: 1;
                width: 100%;
                border: 1px solid var(--color-gray);
                padding: 20px;
                border-radius: 12px;
            }
            position: absolute;
            opacity: 0;
        }
    }
    &__button{
        &-prev, &-next{
            width: 62px;
            height: 62px;
            @include lg{
                display: none;
            }
            &-adaptive{
                display: none;
                @include lg{
                    display: flex;
                    width: 62px;
                    height: 62px;
                }
                
            }
        }
        &-image{

        }
    }
    &__buttons{
        &-container{
            &-adaptive{
                display: flex;
                gap: 20px;
            }
        }
    }
}