.button{
    // стили для кнопки
    height: 55px;
    border: none;
    border-radius: 82px;
    display: flex;
    align-items: center;
    padding: 14px 30px;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
    &--primary{
        color: var(--color-heading);
        background-color: var(--color-accent);
    }
    &--transparent{
        background-color: transparent;
        color: var(--color-white);
    }
    &--light{
        background-color: var(--color-secondary);
        color: var(--color-green);
    }
    &--outline{
        background-color: var(--color-heading);
        color: var(--color-white);
        border: 1px solid var(--color-gray);
        &-active{
            color: var(--color-accent);
            background-color: var(--color-dark);
        }
    }
    &:hover{
        opacity: 0.50;
    }
}